.main__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px) {
    .main__body {
        grid-template-columns: 1fr;
    }
}